form {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 75%;
}

div {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

label {
    display: flex;
    flex-direction: column;
}

.check {
    display: flex;
    flex-direction: row;
}

textarea {
    height: fit-content;
    resize: none;
}

button {
    width: 15%;
}
